build/
cmake-build-*/
bin/
lib/
*.d
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.out

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt
CMakeConfigureLog.yaml
compile_commands.json
CTestTestfile.cmake
_deps/

.vscode/
.idea/
.vs/
.DS_Store
Thumbs.db
*.swp

cdn-server/myscdn_node

cdn-client/myscdn_client

*.db
*.sqlite
cdn-server/data/*

cdn-server/assets/*

cdn-server/data/storage/*
!cdn-server/data/storage/.gitkeep

cdn-server/assets/targetFilesDistributed/
targetFilesDistributed/

.env
postgres_data/
pgdata/

*.log
*.tmp

.cache/

continut.txt 

full_code.txt

docs/HOME

optimizari_os

principii

script.sh

todo.txt

optimizari_lenovo